/*-  CSS "libraries"
----------------------------------------------------------------------*/
@import url("foundation.css");

body {
	line-height:1;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.nav {
	padding: 10px 20px;
}
.nav a {
	margin-right: 30px;
	font-size: .85rem !important;
}
.nav a:hover{
	text-decoration: underline;
	font-size: .85rem !important;
	color: #eda700;
}
.nav a.current-location {
	font-weight: bold;
	font-size: .85rem !important;
}
.row.last {
	height: 10rem;
}
.row.odd {
	background: #FFF;
	vertical-align: middle;
}
.alert {
	margin-bottom: 20px;
    padding: 15px;
    background-color: #FFF4CC;
    border: 0;
    border-left: 4px solid #FFE070;
}
.alert p {
	font-size:.85rem !important;
}
.alert p span {
	font-weight: bold;
}
.affiliate-name-cid-display {
	padding: 10px !important;
}
.affiliate-name-cid-display p {
	margin-bottom: 0;
}
.affiliate-name-cid-display a {
	font-size: .7rem !important;	
}
textarea {
    height: 200px;
}
.switchbox {
	width: 30%;
	margin: 10px 0;
	float: left;
}
.logout {
	margin: 10px 0;
}
table.responsive {
	width: 100%;
}
table.responsive th {
	width: 70px;
	font: inherit;
}
table.responsive input[type=checkbox] {
		vertical-align: middle;
		margin: 5px auto;
}
td.enabled {
	    background: #69aa4e;
}
td.disabled {
	background: #bababa;
}
.verify-changes {
	margin: 10px 20px;
}

input[type="radio"]:checked,
label span.checked {
	font-weight: bold;
}
ul.make-changes-container {
	margin-top: 3rem;
	line-height: 2rem;
}
ul.make-changes-container li {
	list-style-type: none;
}