/*-  CSS "libraries"
----------------------------------------------------------------------*/
@import url("foundation.css");
@import url("font.css");

.callout {
	padding: 10px !important;
}

body,
button, .button,
select,
.top-bar-section ul li > a,
.pricing-table .title,
.pricing-table .price,
.tabs dd > a, .tabs .tab-title > a,
.side-nav,
.side-nav li.active > a:first-child:not(.button),
h1, h2, h3, h4, h5, h6,
.sub-nav dt,
.sub-nav dd,
.sub-nav li,
.label {
	font-family:"Open Sans","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
textarea {
    height: 200px;
}
input[type="radio"]:checked,
label span.checked {
	font-weight: bold;
}
/* @group header */
.switchbox {
	width: 30%;
	margin: 10px 0;
	float: left;
}
.logout {
	margin: 10px 0;
}
/* @end */
/* @group Navigation */
.nav {
	padding: 0;
	background: #2ba6cb;
	border: 0;
}
#primary-nav ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
#primary-nav ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:600;
	line-height:2.5rem;
	padding:0 1.5rem;
	text-transform: uppercase;
	font-size: .95rem !important;
	color: #FFF;
}
#primary-nav ul a:hover {
	color: #61b6d9 !important;
}
#primary-nav ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;	
}
#primary-nav .current-location {
	background:#FFF;
}
#primary-nav .current-location a {
	color: #61b6d9;
}
#primary-nav ul li:hover {
	background:#FFF;
	color: #333;
}
#primary-nav ul li:hover a {
	color: #333;
}
#primary-nav ul ul {
	display:none;
	position:absolute;
	top: 100%;
	left:0;
	background:#fff;
	padding:0;
}
#primary-nav ul ul li {
	float:none;
	width:20rem;
}
#primary-nav ul ul a {
	line-height:120%;
	padding:.5rem 1.5rem;
}
#primary-nav ul ul ul {
	top:0;
	left:100%;
}
#primary-nav ul li:hover > ul {
	display:block;
}
/* @end */
/* @group top of page alert */
.alert {
	margin-bottom: 20px;
    padding: 15px;
    background-color: #FFF4CC;
    border: 0;
    border-left: 4px solid #FFE070;
}
.error {
	margin-bottom: 20px;
    padding: 15px;
    border: 0;
    background-color: #ffebca;
    border: 0;
    border-left: 4px solid #fe7822;
}
.error p,
.alert p {
	font-size:.85rem !important;
}
.error p span,
.alert p span {
	font-weight: bold;
}
/* @end */
/* @group name and CID display bar */
.affiliate-name-cid-display p {
	margin-bottom: 0;
}
.affiliate-name-cid-display a {
	font-size: .7rem !important;	
}
span.CID-identification {
	background: #bababa;
	font-size: .65rem;
	font-weight: bolder;
	padding: 0 .2rem;
	margin: 0 .2rem;
	vertical-align: 2px;
}
span.CID-identification.parent:after {
	content: "P";
}
span.CID-identification.child:after {
	content: "C";
}
span.EAC-identification {
	background: #a5d88a;
	font-size: .65rem;
	font-weight: bolder;
	padding: 0 .2rem;
	margin: 0 .2rem 0 .1rem;
	vertical-align: 2px;
}
span.EAC-identification:after {
	content: "EAC";
}
.test-identification {
	border-color: #D35400;
	background: rgba(211, 84, 0, 0.2);
	padding: 5px;
}

/* @end */
.row.last {
	height: 10rem;
}
.row.odd {
	background: #FFF;
	vertical-align: middle;
}
.verify-changes,
.cancel-action-link {
	margin: 10px 20px;
}
ul.make-changes-container {
	margin-top: 3rem;
	line-height: 2rem;
}
ul.make-changes-container li {
	list-style-type: none;
}
/* @group Results table */
table.results {
	width: 100%;
}
table.results tbody tr td {
	line-height: 1.75em !important;
}
*[data-href] {
    cursor: pointer;
}




/* @end */


table {
    border-collapse: collapse;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
th {
    background-color: #31bc86;
    font-weight: bold;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}


/* @group ShowHide Content */
label span.expand-link {
	float: right;
	margin: 0;
	padding: 0;
}
input#expand-options, input#hide-options {
    display:none;
}
span#content {
    display:none;
}
input#expand-options:checked ~ span#content {
  display:block;
}
input#hide-options:checked ~ span#content {
    display:none;
}
/* @end */

