
.icon-ok-circled-1:before { content: '\e803'; } /* '' */
.icon-cancel-circled-1:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-help-circled-alt:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-info-circled-alt:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */